.shapka{
	background: #EEEFF1;
}
.box{
	max-width: 1178px;
	margin: 0 auto;
}
.logo_img{
width: 281px;
margin-right: 240px;
}
.nav_list{
	display: flex;
}
.nav_item{
	list-style: none;
	margin: 0 30px 0 0;
}
.nav_link{
	text-decoration: none;
	color:black;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
}
.head_box{
	display: flex;
	justify-content: center;
}
.menu{
	margin:auto 0 ;
}
.description{
	margin: 0 auto;
	max-width: 1238px;
}
.opis{
	display: flex;
	justify-content: space-between;
	margin-bottom: 142px;
}
.underlogo{
	margin-right: 298px;
	max-height: 359px;
	max-width: 359px;
}
.title_genshin{
	margin-bottom: 60px;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;

color: #000000;
}
.opisanie_genshin{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #000000;
}
.button{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
margin-bottom: 71px;
/* or 39px */

text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
background: #D38838;
border-style: none;
padding: 15px 35px;
margin-top: 60px;
}
.button:hover{
		font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 164.06%;
margin-bottom: 71px;
/* or 39px */

text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;
background: #d49655;
border-style: none;
}

.nav_link:hover {
	color:#D38838;
}
.rates{
	text-align: center;
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
margin-bottom: 50px;
}
.RateTytle{
	margin-top: 119px;
	justify-content: center;
}
.ratetext{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
}
.bg{
	background: #EEEFF1;
}

.rates_two{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
margin-bottom: 50px;
}
.rate_done1{
	background-color: #D38838;
	height: 100%;
	width: 63%;
}
.rate_done2{
	background-color: #D38838;
	height: 100%;
	width: 74%;
}
.rate_done3{
	background-color: #D38838;
	height: 100%;
	width: 83%;
}
.bar{
	background-color: #C4C4C4;
	height: 5px;
	width: 445px;
}
.skill{
	text-decoration: none;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;

color: #727272;
}
.rating_item{
	list-style: none;
}
.player_rates{
	display: flex;
	margin-top: 142px;
	align-items: center;
	margin-bottom: 142px;
}
.poloski{
	margin-right: 315px;
}
/*-------Rates-end------*/
/*-------Video-start------*/
.review{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 56px;
text-align: center;

color: #000000;
margin-top: 0px;
}

.obzor{
	padding-top: 191px;
	padding-bottom: 101px;
}
/*-------Video-end------*/
/*-------RateIMG-start------*/
.rateimg{
	max-width: 656px;
	max-height: 656px;
	border: 67px solid #D38838;
	filter: drop-shadow(0px 0px 152px rgba(211, 136, 56, 0.42));
	border-radius: 100%;
}
.rateimg:hover{
	filter: drop-shadow(0px 0px 152px rgba(211, 136, 56, 0.82));
}
.rateimgdiv{
	position:relative;
	width: 632px;
	height: 575px;
}
.star{
	position: absolute;
}
.star1{
	width: 90px;
height: 90px;
top:405px;
left:5px;
}
.star2{
	width: 90px;
height: 90px;
top:35px;
left:35px;
}
.star3{
	width: 90px;
height: 90px;
top:215px;
right:555px;
}
.star4{
	width: 90px;
height: 90px;
top:15px;
left:430px;
}
.rating{
	padding-left: 0px;
}
/*-------RateIMG-end------*/
/*-------Gallary-start------*/

.itemGal{
	list-style: none;
	width: 25%;
	margin-bottom: -10px;
}
.listGal{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	border-top:5px solid #C4C4C4 ;
}
.ImgGal{
	width: 100%;
}

/*-------Gallary-end------*/

/*-------Footer-start------*/
.footer{
	background: #D38838;
	border-top:10px solid #C4C4C4 ;
}
.Soc{
	max-width: 40px;
}
.copy{
	list-style: none;
	padding:0;
}
.copy1{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
padding:0;
color: #FFFFFF;
}
.copy2{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;

color: #FFFFFF;
}
.basement{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	padding: 50px;
}
.copyright{
	align-items: center;
	margin:0;
	padding:0;
}
.FooterImg{
}
.Soc{
	margin-right: 12px;
}
/*-------Footer-end------*/
/*-------Arrow-start------*/

.ArrowUp{
	max-width: 90px;
	position: fixed;
	bottom: 50px;
	right: 50px;
}

/*-------Arrow-end------*/

.burger_button{
}

.burger{
	border: none;
	display: none;
}

.burger_line{
	background-color: #000000;
	height: 9px;
	width: 54px;
	margin-top: 8px;
}


@media (max-width: 834px) {

.box{
	max-width: 630px;
	margin: 0 auto;
	}
/*-------Header-start------*/

.head_box{
	flex-direction: column;
}
.logo{
	text-align: center;
	margin: 0 auto;
}
.logo_img{
	margin: 0 auto;
}

.nav_link{
	text-decoration: none;
	color:black;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 26px;
	letter-spacing: 0.1em;

}
.nav_list{
	text-align: center;
	margin:0 auto;
	padding: 0;
}

.nav_item{
	margin: 0 auto;
}

.shapka{
	padding-bottom: 32px;
}
/*-------Header-end------*/

/*-------Opis-start------*/
.opis{
	flex-direction: column;
}
.title_genshin{
	text-align: center;
}
.opisanie_genshin{
	max-width: 496px;
	text-align: center;
	margin: 0 auto;
}
.butt{
	text-align: center;
}
.underlogo{
	margin: 0 auto;
}

/*-------Opis-end------*/

/*-------Rates-start------*/
.rateimgdiv{
	display: none;
}
.rateimg{
	display: none;
}
.star{
	display: none;
}
.rates_two{
	display: none;
}
.poloski{
	margin: 0 auto;
}
/*-------Rates-end------*/

/*-------video-start------*/
.obzor{
	padding-top: 50px;
	margin-top: 71px;
}
.YouTubeVideo{
	max-width: 570px;
	max-height: 330px;
	margin: 0 auto;
	display: block;
}
/*-------video-end------*/
.itemGal{
	width: 50%;
}

.ArrowUp{
	max-width: 40px;
	right: 30px;
}

}
@media (max-width: 450px){

.box{
max-width: 360px;
margin: 0 auto;
}

.burger{
	display: block;
	width: 80px;
	margin-left: 30px;
}
.logo{
	text-align: none;
	max-width: 191px;
	margin: 0 0;
}
.logo_img{
	max-width: 191px;
}
.menu{
	display: none;
}

.underlogo{
	max-width: 300px;
}
.head_box{
	display: flex;
	flex-direction: row;
}
.button{
	padding: 12px;
}
.bar{
	max-width: 258px;
}
.YouTubeVideo{
	max-width: 287px;
	max-height: 183px;
	margin: 0 auto;
	display: block;
}
.basement{
	max-height: 10px;
}
.copy1{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 25px;
padding:0;
color: #FFFFFF;
}
.copy2{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 9px;
line-height: 21px;

color: #FFFFFF;
}
.Soc{
	max-width: 25px;
}
}